<!-- About Me Subpage -->
<section class="pt-page pt-page-2" data-id="about_me">
  <div class="border-block-top-110"></div>
  <div class="section-inner">
    <div class="section-title-block">
      <div class="section-title-wrapper clearfix">
        <h2 class="section-title">About Me</h2>
        <h5 class="section-description">Web & Application Engineer</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
        <div class="my-photo-block tilt-effect">
          <img src="assets/profile.jpg" alt="">
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <h3>フリーランスのウェブ・アプリエンジニアです。</h3>
        <p>起業するのが夢で、大学在学中に就職活動を一切せず、卒業後にプログラミングを独学で学び、理解を深めるためにTECH::EXPERTのメンターとしてプログラミングを教える仕事をしていました。その後起業しウェブサービスをリリースしましたが、本格的にエンジニアとして活動したいと思い、後にその会社を離れています。</p>
        <p>現在はフリーランスとして活動しており、TECH::EXPERTでコードレビュワーをやりつつ、ウェブ・アプリエンジニアとして開発の仕事もしています。</p>
        <p>ヒーローが好きで、20年間仮面ライダーを毎週見続けています。またMARVEL作品の大ファンで、グッズやフィギュアを収集しています。他にはサッカー観戦、フットサル、車やバイクに乗ること、釣りなどを趣味としています。</p>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
        <ul class="info-list">
          <li><span class="title">名前</span><span class="value">都丸 翔貴</span></li>
          <li><span class="title">年齢</span><span class="value">24</span></li>
          <li><span class="title">出身</span><span class="value">群馬県前橋市</span></li>
          <li><span class="title">居住</span><span class="value">神奈川県横浜市</span></li>
          <li><span class="title">e-mail</span><span class="value">info@tomarumaru.com</span></li>
        </ul>

        <ul class="social-links">
          <li><a class="tip social-button" href="https://twitter.com/tomarumaru7" title="Twitter" target="blank"><i class="fa fa-twitter"></i></a></li> <!-- Full list of social icons: http://fontawesome.io/icons/#brand -->
          <li><a class="tip social-button" href="https://www.facebook.com/profile.php?id=100008020204860" title="Facebook" target="blank"><i class="fa fa-facebook"></i></a></li>
          <li><a class="tip social-button" href="https://github.com/TOMARUMARU" title="github" target="blank"><i class="fa fa-github"></i></a></li>
          <!--<li><a class="tip social-button" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>-->
          <!--<li><a class="tip social-button" href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>-->
          <!--<li><a class="tip social-button" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>-->
          <!--<li><a class="tip social-button" href="#" title="last.fm"><i class="fa fa-lastfm"></i></a></li>-->
          <!--<li><a class="tip social-button" href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>-->
        </ul>
      </div>
    </div>

    <!-- Services block -->
    <div class="block-title">
      <h3>開発</h3>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3 subpage-block">
        <div class="service-block"> 
          <div class="service-info">
            <i class="service-icon pe-7s-icon pe-7s-browser"></i>
            <h4>ウェブ開発</h4>
            <p>HTML、CSS、Ruby on Railsでフロントエンドからバックエンドまで一通り実装できます。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 subpage-block">
        <div class="service-block"> 
          <div class="service-info">
            <i class="service-icon pe-7s-icon pe-7s-phone"></i>
            <h4>アプリ開発</h4>
            <p>React Native + Reduxでフロントエンドからバックエンドまで一通り実装できます。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 subpage-block">
        <div class="service-block"> 
          <div class="service-info">
            <i class="service-icon pe-7s-icon pe-7s-server"></i>
            <h4>インフラ・サーバー</h4>
            <p>ある程度の知識と、herokuを始め、AWSやGCPでのデプロイ経験もできます。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 subpage-block">
        <div class="service-block"> 
          <div class="service-info">
            <i class="service-icon pe-7s-icon pe-7s-refresh-2"></i>
            <h4>開発手法</h4>
            <p>スクラムなどのアジャイル開発に関する知見や経験があります。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Services block -->
  </div>
</section>
<!-- End of About Me Subpage -->