<!-- Resume Subpage -->
<section class="pt-page pt-page-3" data-id="resume">
  <div class="border-block-top-110"></div>
  <div class="section-inner">
    <div class="section-title-block">
      <div class="section-title-wrapper">
        <h2 class="section-title">Resume & Skill</h2>
        <h5 class="section-description">2 Years of Experience</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title">
          <h3>Education</h3>
        </div>
        <div class="timeline">
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">June 2017</h5>
            <h4 class="event-name">プログラミングを教える仕事に就く</h4>
            <span class="event-description">TECH::EXPERTで働き始める</span>
            <p>TECH::EXPERTにてメンターとしてRuby on Railsを教えつつ、起業の準備を進める。</p>
          </div>
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">Apr 2017</h5>
            <h4 class="event-name">独学で勉強</h4>
            <span class="event-description">初めてプログラミングに触れる</span>
            <p>起業してウェブサービスをリリースするために、Ruby on Railsを独学で学ぶ。</p>
          </div>
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">Mar 2017</h5>
            <h4 class="event-name">大学卒業</h4>
            <span class="event-description">国立静岡大学を卒業し上京</span>
            <p>大学を卒業し、起業を目指して上京。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title">
          <h3>Experience</h3>
        </div>
        <div class="timeline">
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">Feb 2019 - Current</h5>
            <h4 class="event-name">コードレビュワーに抜擢</h4>
            <span class="event-description">再びTECH::EXPERTへ</span>
            <p>TECH::EXPERTにてコードレビュワーを務める。</p>
          </div>
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">Aug 2018 - Aug 2019</h5>
            <h4 class="event-name">フリーランスエンジニアとして活動</h4>
            <span class="event-description">アプリ開発を始める</span>
            <p>React Nativeを習得し、ネイティブアプリエンジニアとして開発に勤しむ。</p>
          </div>
          <!-- Single event -->
          <div class="timeline-event te-primary">
            <h5 class="event-date">Dec 2017 - July 2018</h5>
            <h4 class="event-name">起業</h4>
            <span class="event-description">創業メンバーとして会社を設立</span>
            <p>会社を設立し、1からウェブサービスを開発し、リリースする。</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="block-title">
          <h3>Coding Skills</h3>
        </div>
       <div class="skills-info">
         <h4>HTML</h4>                               
         <div class="skill-container">
           <div class="skill-percentage skill-1"></div>
         </div>

          <h4>CSS</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-2"></div>
          </div>

          <h4>JavaScript</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-3"></div>
          </div>

          <h4>jQuery</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-4"></div>
          </div>

          <h4>Ruby on Rails</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-5"></div>
          </div>

          <h4>React Native</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-6"></div>
          </div>

          <!--<h4>Vue</h4>-->
          <!--<div class="skill-container">-->
          <!--<div class="skill-percentage skill-7"></div>-->
          <!--</div>-->

          <!--<h4>Go</h4>-->
          <!--<div class="skill-container">-->
          <!--<div class="skill-percentage skill-8"></div>-->
          <!--</div>-->
        </div>

        <div class="block-title">
          <h3>Infrastructure & Server</h3>
        </div>
        <div class="skills-info">
          <h4>AWS</h4>                               
          <div class="skill-container">
            <div class="skill-percentage skill-9"></div>
          </div>

          <h4>GCP</h4>
          <div class="skill-container">
            <div class="skill-percentage skill-10"></div>
          </div>
        </div>

        <div class="block-title">
          <h3>DB</h3>
        </div>
        <div class="skills-info">
          <h4>MySQL</h4>                               
          <div class="skill-container">
            <div class="skill-percentage skill-11"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Subpage -->