<!-- Loading animation -->
<div class="preloader">
  <div class="preloader-animation">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>
<!-- /Loading animation -->

<div id="page" class="page template-style-dark">

  <%= render partial: 'header' %>

  <!-- Main Content -->
  <div id="main" class="site-main">
    <!-- Page changer wrapper -->
    <div class="pt-wrapper" style="background-image: url(assets/main_background.jpg);">
      <!-- Subpages -->
      <div class="subpages">

        <%= render partial: 'home_subpage' %>

        <%= render partial: 'profile' %>

        <!-- Resume Subpage -->
        <section class="pt-page pt-page-3" data-id="resume">
          <div class="border-block-top-110"></div>
          <div class="section-inner">
            <div class="section-title-block">
              <div class="section-title-wrapper">
                <h2 class="section-title">Resume</h2>
                <h5 class="section-description">6 Years of Experience</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-4 subpage-block">
                <div class="block-title">
                  <h3>Education</h3>
                </div>
                <div class="timeline">
                  <!-- Single event -->
                  <div class="timeline-event te-primary">
                    <h5 class="event-date">2010</h5>
                    <h4 class="event-name">Specialization Course</h4>
                    <span class="event-description">University of Studies</span>
                    <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                  </div>
                  <!-- Single event -->
                  <div class="timeline-event te-primary">
                    <h5 class="event-date">2009</h5>
                    <h4 class="event-name">Specialization Course</h4>
                    <span class="event-description">University of Studies</span>
                    <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                  </div>
                  <!-- Single event -->
                  <div class="timeline-event te-primary">
                    <h5 class="event-date">2008</h5>
                    <h4 class="event-name">Specialization Course</h4>
                    <span class="event-description">University of Studies</span>
                    <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 subpage-block">
                <div class="block-title">
                  <h3>Experience</h3>
                </div>
                <div class="timeline">
                  <!-- Single event -->
                  <div class="timeline-event te-primary">
                    <h5 class="event-date">Dec 2012 - Current</h5>
                    <h4 class="event-name">Frontend-developer</h4>
                    <span class="event-description">Web Agency</span>
                    <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                  </div>
                  <!-- Single event -->
                  <div class="timeline-event te-primary">
                    <h5 class="event-date">Dec 2011 - Nov 2012</h5>
                    <h4 class="event-name">Web Designer</h4>
                    <span class="event-description">Apple Inc.</span>
                    <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                  </div>
                  <!-- Single event -->
                  <div class="timeline-event te-primary">
                    <h5 class="event-date">Jan 2010 - Dec 2011</h5>
                    <h4 class="event-name">Graphic Designer</h4>
                    <span class="event-description">Web Agency</span>
                    <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 subpage-block">
                <div class="block-title">
                  <h3>Design Skills</h3>
                </div>
                <div class="skills-info">
                  <h4>Web Design</h4>                               
                  <div class="skill-container">
                    <div class="skill-percentage skill-1"></div>
                  </div>

                  <h4>Graphic Design</h4>
                  <div class="skill-container">
                    <div class="skill-percentage skill-2"></div>
                  </div>

                  <h4>Print Design</h4>
                  <div class="skill-container">
                    <div class="skill-percentage skill-3"></div>
                  </div> 
                </div>

                <div class="block-title">
                  <h3>Coding Skills</h3>
                </div>
                <div class="skills-info">
                  <h4>HML5</h4>                               
                  <div class="skill-container">
                    <div class="skill-percentage skill-4"></div>
                  </div>

                  <h4>CSS3</h4>
                  <div class="skill-container">
                    <div class="skill-percentage skill-5"></div>
                  </div>

                  <h4>jQuery</h4>
                  <div class="skill-container">
                    <div class="skill-percentage skill-6"></div>
                  </div>

                  <h4>Wordpress</h4>
                  <div class="skill-container">
                    <div class="skill-percentage skill-7"></div>
                  </div>

                  <h4>PHP</h4>
                  <div class="skill-container">
                    <div class="skill-percentage skill-8"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="download-cv-block">
                  <a class="button" target="_blank" href="#">Download CV</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Resume Subpage -->


        <!-- Portfolio Subpage -->
        <section class="pt-page pt-page-4" data-id="portfolio">
          <div class="border-block-top-110"></div>
          <div class="section-inner">
            <div class="section-title-block">
              <div class="section-title-wrapper">
                <h2 class="section-title">Portfolio</h2>
                <h5 class="section-description">My Best Works</h5>
              </div>
            </div>

            <!-- Portfolio Content -->
            <div class="portfolio-content">
                          
              <!-- Portfolio filter -->
              <ul id="portfolio_filters" class="portfolio-filters">
                <li class="active">
                  <a class="filter btn btn-sm btn-link active" data-group="all">All</a>
                </li>
                <li>
                  <a class="filter btn btn-sm btn-link" data-group="media">Media</a>
                </li>
                <li>
                  <a class="filter btn btn-sm btn-link" data-group="illustration">Illustration</a>
                </li>
                <li>
                  <a class="filter btn btn-sm btn-link" data-group="video">Video</a>
                </li>
              </ul>
              <!-- End of Portfolio filter -->

              <!-- Portfolio Grid -->
              <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

                <!-- Portfolio Item 1 -->
                <figure class="item" data-groups='["all", "media"]'>
                  <a class="ajax-page-load" href="portfolio-1.html">
                    <img src="assets/portfolio/1.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Media</small>
                      <i class="pe-7s-icon pe-7s-display2"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 1 -->

                <!-- Portfolio Item 2 -->
                <figure class="item" data-groups='["all", "video"]'>
                  <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Praesent Dolor Ex" class="lightbox mfp-iframe">
                    <img src="assets/portfolio/2.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Video</small>
                      <i class="pe-7s-icon pe-7s-video"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 2 -->

                <!-- Portfolio Item 3 -->
                <figure class="item" data-groups='["all","illustration"]'>
                  <a href="assets/portfolio/full/3.jpg" class="lightbox" title="Duis Eu Eros Viverra">
                    <img src="assets/portfolio/3.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Illustration</small>
                      <i class="pe-7s-icon pe-7s-photo"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 3 -->

                <!-- Portfolio Item 4 -->
                <figure class="item" data-groups='["all", "media"]'>
                  <a class="ajax-page-load" href="portfolio-2.html">
                    <img src="assets/portfolio/4.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Media</small>
                      <i class="pe-7s-icon pe-7s-display2"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 4 -->

                <!-- Portfolio Item 5 -->
                <figure class="item" data-groups='["all", "illustration"]'>
                  <a href="assets/portfolio/full/5.jpg" class="lightbox" title="Aliquam Condimentum Magna Rhoncus">
                    <img src="assets/portfolio/5.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Illustration</small>
                      <i class="pe-7s-icon pe-7s-photo"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 5 -->

                <!-- Portfolio Item 6 -->
                <figure class="item" data-groups='["all", "media"]'>
                  <a class="ajax-page-load" href="portfolio-3.html">
                    <img src="assets/portfolio/6.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Media</small>
                      <i class="pe-7s-icon pe-7s-display2"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 6 -->

                <!-- Portfolio Item 7 -->
                <figure class="item" data-groups='["all", "video"]'>
                  <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Nulla Facilisi" class="lightbox mfp-iframe">
                    <img src="assets/portfolio/7.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Video</small>
                      <i class="pe-7s-icon pe-7s-video"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 7 -->

                <!-- Portfolio Item 8 -->
                <figure class="item" data-groups='["all",  "media"]'>
                  <a class="ajax-page-load" href="portfolio-4.html">
                    <img src="assets/portfolio/8.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Media</small>
                      <i class="pe-7s-icon pe-7s-display2"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 8 -->

                <!-- Portfolio Item 9 -->
                <figure class="item" data-groups='["all","illustration"]'>
                  <a href="assets/portfolio/full/9.jpg" class="lightbox" title="Mauris Neque Dolor">
                    <img src="assets/portfolio/9.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Illustration</small>
                      <i class="pe-7s-icon pe-7s-photo"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 9 -->

                <!-- Portfolio Item 10 -->
                <figure class="item" data-groups='["all", "video"]'>
                  <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Donec Lectus Arcu" class="lightbox mfp-iframe">
                    <img src="assets/portfolio/10.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Video</small>
                      <i class="pe-7s-icon pe-7s-video"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 10 -->

                <!-- Portfolio Item 11 -->
                <figure class="item" data-groups='["all","illustration"]'>
                  <a href="assets/portfolio/full/11.jpg" class="lightbox" title="Duis Eu Eros Viverra">
                    <img src="assets/portfolio/11.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Illustration</small>
                      <i class="pe-7s-icon pe-7s-photo"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 11 -->

                <!-- Portfolio Item 12 -->
                <figure class="item" data-groups='["all","media"]'>
                  <a class="ajax-page-load" href="portfolio-5.html">
                    <img src="assets/portfolio/12.jpg" alt="">
                    <div>
                      <h5 class="name">Project Name</h5>
                      <small>Media</small>
                      <i class="pe-7s-icon pe-7s-display2"></i>
                    </div>
                  </a>
                </figure>
                <!-- /Portfolio Item 12 -->
              </div>
              <!-- /Portfolio Grid -->

            </div>
            <!-- /Portfolio Content -->
          </div>
        </section>
        <!-- /Portfolio Subpage -->

        <!-- Contact Subpage -->
        <section class="pt-page pt-page-5" data-id="contact">
          <div class="border-block-top-110"></div>
          <div class="section-inner">
            <div class="section-title-block">
              <div class="section-title-wrapper">
                <h2 class="section-title">Contact</h2>
                <h5 class="section-description">Get in Touch</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-6 subpage-block">
                <div class="block-title">
                  <h3>Get in Touch</h3>
                </div>
                <p>Sed eleifend sed nibh nec fringilla. Donec eu cursus sem, vitae tristique ante. Cras pretium rutrum egestas. Integer ultrices libero sed justo vehicula, eget tincidunt tortor tempus.</p>
                <div class="contact-info-block">
                  <div class="ci-icon">
                    <i class="pe-7s-icon pe-7s-map-marker"></i>
                  </div>
                  <div class="ci-text">
                    <h5>Los Angeles, USA</h5>
                  </div>
                </div>
                <div class="contact-info-block">
                  <div class="ci-icon">
                    <i class="pe-7s-icon pe-7s-mail"></i>
                  </div>
                  <div class="ci-text">
                    <h5>alexsmith@example.com</h5>
                  </div>
                </div>
                <div class="contact-info-block">
                  <div class="ci-icon">
                    <i class="pe-7s-icon pe-7s-call"></i>
                  </div>
                  <div class="ci-text">
                    <h5>+123 654 78900</h5>
                  </div>
                </div>
                <div class="contact-info-block">
                  <div class="ci-icon">
                    <i class="pe-7s-icon pe-7s-check"></i>
                  </div>
                  <div class="ci-text">
                    <h5>Freelance Available</h5>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6 subpage-block">
                <div class="block-title">
                  <h3>Contact Form</h3>
                </div>
                <form id="contact-form" method="post" action="contact_form/contact_form.php">

                  <div class="messages"></div>

                  <div class="controls">
                    <div class="form-group">
                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Full Name" required="required" data-error="Name is required.">
                        <div class="form-control-border"></div>
                        <i class="form-control-icon pe-7s-user"></i>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Email Address" required="required" data-error="Valid email is required.">
                        <div class="form-control-border"></div>
                        <i class="form-control-icon pe-7s-mail"></i>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <textarea id="form_message" name="message" class="form-control" placeholder="Message for Me" rows="4" required="required" data-error="Please, leave me a message."></textarea>
                        <div class="form-control-border"></div>
                        <i class="form-control-icon pe-7s-comment"></i>
                        <div class="help-block with-errors"></div>
                    </div>

                    <input type="submit" class="button btn-send" value="Send message">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- End Contact Subpage -->

      </div>
    </div>
    <!-- /Page changer wrapper -->
  </div>
  <!-- /Main Content -->
</div>

<script src="assets/bootstrap.min.js"></script>
<script src="assets/pages-switcher.js"></script>
<script src="assets/imagesloaded.pkgd.min.js"></script>
<script src="assets/validator.js"></script>
<script src="assets/jquery.shuffle.min.js"></script>
<script src="assets/masonry.pkgd.min.js"></script>
<script src="assets/owl.carousel.min.js"></script>
<script src="assets/jquery.magnific-popup.min.js"></script>
<script src="assets/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/tilt.jquery.min.js"></script>
<script src="assets/jquery.hoverdir.js"></script>
<script src="assets/main.js"></script>
