<h1>お問い合わせ内容</h1>

------------------------------------------------
<p>名前: <%= @contact.name %></p> 様

<p>メールアドレス: <%= @contact.email %></p>

<p>内容: <%= @contact.message %></p>

------------------------------------------------
